.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #433f3f;
}

html {
  scroll-behavior: smooth;
}

.ProgressBar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  /* Ensure it's above other content */
  margin-left: -5px;
  margin-right: 16px; /* Adjust this value as needed */
}

.SideBar {
  position: sticky;
  left: 0;
  padding: 10px 0;
  margin: 0;
  z-index: 2;
  width: 100vw;
}

.SideBar a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.2s ease-in-out;
}

.overlay-container {
  overlay: auto;
  position: relative;
  width: 50%;
  /* Adjust as needed */
  height: 100vh;
  /* Adjust as needed */
  opacity: 50%;
}
