#root {
  height: 100%;
  opacity: 100%;
}


.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Adjusting font size for small screens */
@media (max-width: 480px) {
  .text-responsive {
    font-size: 1.2rem;
  }
}

/* Adjusting font size for medium screens */
@media (min-width: 481px) and (max-width: 1024px) {
  .text-responsive {
    font-size: 1.4rem;
  }
}

.read-the-docs {
  color: #433f3f;
}

/* Setting a minimum and maximum font size */
.text,h2,h3,h4,h5,h6,
.text-responsive {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

p {
  color: rgb(255, 255, 255);
  /* Bright white */
}

.header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: opacity(rgb(255, 255, 255), -50%);
  /* White background with 50% opacity */
  z-index: -1;
  /* Ensure it's behind the header content */
}

.progress-bar {
  width: 100%;
  background-color: #eee;
  padding: 10px;
}

.SideBar {
  position: sticky;
  left: 0;
  padding: 10px 0;
  margin: 0;
  z-index: 2;
  width: 100vw;
}

.SideBar a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.2s ease-in-out;
}

.overlay-container {
  overlay: auto;
  position: relative;
  width: 50%;
  /* Adjust as needed */
  height: 100vh;
  /* Adjust as needed */
  opacity: 50%;
}

body,
div,
.grid-container {
  background-color: transparent;
  font-family: 'Lora', serif;
  color: #fff;

}

.background-video {
  /* Position the video to cover the whole viewport */
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  /* Full width */
  min-height: 100%;
  /* Full height */
  z-index: -100;
  /* Ensure the video stays behind other content */
}

#bgvid {
  min-width: 100%;
  /* Full width */
  min-height: 100%;
  /* Full height */
  object-fit: cover;
  /* Cover the entire container */
  transform: translateZ(-50%);
  /* Center the video */
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  /* Aligns children to the end of the container */
  gap: 20px;
  /* Adjusts the space between flex items */
}

.contact-form {
  width: auto;
  /* Adjusts the form width as needed */
}
